#banner img {
    max-width: 1700px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header{
    margin:10px;
    padding: 5px;
}

body{
    margin: 10px;
    padding: 25px;
    background-color: rgb(251, 235, 194);
}

/* MENU */
.menu {
    margin: 0 auto;
    width: 550px;
    background-color: transparent;
    font-family: 'Honk','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu li {
    text-align: center;
}

.menu a {
    text-decoration: none;
    padding: 10px;
    display: block;
}

.menu a:hover {
    background-color: rgb(169, 60, 30);
}


h1{
    text-align: center;
    font-size: 50px;
    color: rgb(169, 60, 30);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    text-align: center;
    font-size: 30px;
    color: rgb(169, 60, 30);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(169, 60, 30);
}

thead{
    background-color: rgb(169, 60, 30);
}

table, th, td {
    border: 5px dotted rgb(251, 235, 194); 
}

/* Música */
div.contenedorAudio {
    text-align: center;
    margin-top: 20px;
}

audio {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
}
  
th, td {
    padding: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: rgb(251, 235, 194);
}

footer{
    color: rgb(169, 60, 30);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}