.bannerEntrada picture img{
    display: flex;
    justify-content: center;
    align-content: center;
    filter:grayscale(100%)
}

div .bannerEntrada{
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

/*Tipo de letra*/
h1,h2,h3,p{
    color: white;
    text-align: center;
}

h1{
    font-family: 'Dancing Script','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
}

h2{
    font-family: 'Dancing Script','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
}

h3{
    font-family: 'Dancing Script','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

p{
    font-family: 'Dancing Script','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    .h1,h2,h3,p {
      font-size: 1em; /* Redimensionar el tamaño de fuente según el tamaño de la pantalla */
    }
}

@media only screen and (max-width: 480px) {
    .h1,h2,h3,p {
      font-size: 0.8em; /* Redimensionar el tamaño de fuente aún más para pantallas muy pequeñas */
    }
}

header{
    background-color: rgb(66, 28, 90);
}

body{
    background-color: rgb(106, 64, 180);
}

/*tabla*/
table {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th {
    border: 2px dotted gold;
    background-color: rgb(66, 28, 90);
    color: gold;
    padding: 20px;
}

td {
    border: 2px solid gold;
    padding: 10px;
    color: gold;
}

td:first-child {
    font-weight: bold;
}

td a {
    color: rgb(66, 28, 90);
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
    background-color: gold;
}

/* Música */
div.contenedorAudio {
    text-align: center;
}
audio {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

/*MENU*/
.menu{
    margin: 0 auto;
    background-color: transparent;
    max-width: 1600px;
    font-family: 'Dancing Script','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    text-align: center;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    margin-right: 20px;
    text-align: center;
}

.menu a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: aliceblue;
}

.menu a:hover{
    background-color: gold;
    color:rgb(106, 64, 180);
}

/*footer*/
#pfooter{
    color: gold;
    text-align: center;
    font-family: 'Dancing Script','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}