#banner img {
    max-width: 1700px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1,h2,h3,p{
    color: rgb(169, 60, 30);
    text-align: center;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

header{

}

body{
    /*background-color: blanchedalmond;*/
    background-color: rgb(251, 235, 194);
    margin: 0;
    font-family: Arial, sans-serif;
}

tbody{
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 100%;
}

/*MENU*/
.menu{
    margin: auto;
    padding: auto;
    background-color: transparent;
    max-width: 1200px;
    font-family: 'Honk','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Cambiado a flex para diseño horizontal */
}

.menu li{
    margin-right: 20px;
    text-align: center;
}

.menu a {
    text-decoration: none;
    padding: 10px;
    display: block;
}

.menu a:hover{
    background-color: rgb(169, 60, 30);
}

/*Section y Aside principal*/

.introduccionResumen{
    display: flex;
    padding: 80px;
    margin: 15px;
}
.introduccionResumen section{
    flex: 3;
}

.introduccionResumen aside{
    flex:1;
    margin-left: 50px;
}

.introduccionResumen h2{
    text-align: justify;
}

/*Registro y formulario*/

.registroYformulario{
    display: flex;
}
.registroYformulario section{
    flex: 2;
}
.registroYformulario aside{
    flex: 2;
}
.registroYformulario h1,h2,p{
    text-align: center;
}
#registroMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}
#formularioPeliculas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}
/*footer*/

footer{
    background-color: rgb(169, 60, 30);
}
#pfooter{
    font-size: xx-large;
}


/*TIPOS DE LETRAS IMPORTADAS DE GOOGLE FONTS*/
.honk-letraColoresP {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
 }